interactions:
- request:
    body: null
    headers:
      X-ApiKey:
      - hahaha
    method: GET
    uri: https://api.startupradar.co/web/domains/startupradar.co/text
  response:
    body:
      string: "{\"html_title\":\"Startup Radar: Find startups, investors, accelerators\",\"html_language\":null,\"html_body_text\":\"Startup
        Radar: Find startups, investors, accelerators Startup Radar: Find startups,
        investors, accelerators API Startup Discovery Sign up An API to find startups
        earlier than everyone else Discover new startups earlier with our API tracking
        the European startup ecosystem. We track what's happening for you. You fetch
        the data you need and become data-driven without building enormous data pipelines
        yourself. Monitoring of 850+ websites and startup platforms Documented and[...]
- request:
    body: null
    headers:
      X-ApiKey:
      - hahaha
    method: GET
    uri: https://api.startupradar.co/web/domains/startupradar.co/socials
  response:
    body:
      string: '{"twitter_url":null,"facebook_url":null,"linkedin_url":null,"crunchbase_url":null,"instagram_url":null,"email":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-ApiKey:
      - hahaha
    method: GET
    uri: https://api.startupradar.co/sources
  response:
    body:
      string: "[]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-ApiKey:
      - hahaha
    method: GET
    uri: https://api.startupradar.co/web/domains/startupradar.co/links/domain-backlinks?page=0&limit=100
  response:
    body:
      string: '[{"domain":"loreyventures.com","type":"unknown","logo_url":"https://logo.clearbit.com/loreyventures.com"},{"domain":"producthunt.com","type":"irrelevant","logo_url":"https://logo.clearbit.com/producthunt.com"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-ApiKey:
      - hahaha
    method: GET
    uri: https://api.startupradar.co/web/domains/startupradar.co/links/domain-backlinks?page=1&limit=100
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
